ion-content{
	--ion-background-color:#f6f6f6;
}
.img_conn{
    height: 50vh;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

.img_conn1{
    height: 50vh;
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
}

h2 {
	width: 100%; 
	text-align: center; 
	border-bottom: 1px solid #000; 
	line-height: 0.1em;
	margin: 10px 0 20px; 
 } 
 
 h2 span { 
	 background:#f6f6f6; 
	 padding:0 10px; 
 }
 

.circle2 {
	background: #00a750;
	border-radius:50%;
	color: #ffffff;
	display:table;
	height: 2em;
	font-weight: bold;
	font-size: 2em;
	width: auto;
	margin:0 auto;
}
.circle2 span {
	display:table-cell;
	vertical-align:middle;
	height:5em;
	width:5em;
	text-align:center;
	
}

// .cir{
// //     height: 50%;
// //     width: 100px;
// // //   line-height: 100px;
// //   border-radius: 50%;
// // //   font-size: 50px;
// //   color: #fff;
// //   text-align: center;
// //   background: #13cd85;
// }