<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
    <ion-toolbar>
      <ion-title style="font-weight: bold; " class="ion-text-center">
        Shops Page
      </ion-title>
    </ion-toolbar>
    
  <ion-row>
    <app-shop-card></app-shop-card>
  </ion-row>
  <ion-row>
    <app-shop-card></app-shop-card>
  </ion-row>
  <ion-row>
    <app-shop-card></app-shop-card>
  </ion-row>
  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
