<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-grid > -->
    <ion-row>
        <ion-col class="ion-text-center">
          <!-- <ion-label> -->
            <h2 style="color: #161d6f;">
              {{aff_title}}
            </h2>
          <!-- </ion-label> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button shape="round"  style="width: 10em; --background:#161d6f;">
            Edit Profile
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button shape="round" (click)="logout()" style="width: 10em; --background:#161d6f;">
            Logout
          </ion-button>
        </ion-col>
      </ion-row>
  <!-- </ion-grid> -->
  <!-- {{name}} -->
  <!-- {{aff_title}} -->
<!-- 
  <div class="flex pa1 justify-between nowrap orange">
    <div class="flex flex-fixed black">
      <div class="fw7 mr1">Hacker News</div>
      <a [routerLink]="['/']" class='ml1 no-underline black'>new</a>
      <div class="flex" *ngIf="logged">
        <div class="ml1">|</div>
        <a [routerLink]="['/create']" class='ml1 no-underline black'>submit</a>
      </div>
    </div>
    <div class="flex flex-fixed">
      <div *ngIf="logged" class="ml1 pointer black" (click)="logout()">logout</div>
      <a *ngIf="!logged" [routerLink]="['/login']" class='ml1 no-underline black'>login</a>
    </div>
  </div> -->





  
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
