<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <!-- <ion-grid > -->
    <div class="img_conn" style=" background-color:#c7ffd8;">
      <ion-toolbar style="--ion-background-color:#c7ffd8;">
      <ion-title style="text-align: center;">
        Profile
      </ion-title>
    </ion-toolbar>
    
      <ion-row class="ion-justify-content-center" >
        <ion-col size="4" class="vertical-align-content" >
          <img src="https://shaya.liara.run/media/{{aff_image}}" alt="" style=" height: 15vh; width: 20vh;">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
        
             <!-- <h1 style="height:5vh; color: #161d6f;">  -->
              <ion-label style="height:5vh; color: #161d6f;">
              Amir Naeeni<!-- {{aff_title}} -->
              </ion-label>
             <!-- </h1>  -->
        </ion-col>
      </ion-row>
      
      
      
    </div>
      <div class="img_conn1" style="background-color:#ffffff;">
        <ion-row class="ion-justify-content-center" >
          <ion-col size="6" class="vertical-align-content" style="margin-top: -5em; height: 10em; ">
            <ion-button shape="round"  style="height: 4vh; --background:#161d6f;">
              <ion-label style="padding-right: 0.5em;">
                ویرایش
              </ion-label>
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="6" class="vertical-align-content" style="margin-top: -5em; height: 10em; ">
            <ion-button shape="round" (click)="logout()" style="height: 4vh; --background:#161d6f;">
              <ion-label style="padding-right: 0.5em;">
                خروج 
              </ion-label>
               <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
        <!-- <ion-row class="ion-padding-horizontal" style="padding-top: 1vh;">
          <ion-col size="6" class="ion-text-center">
            
          </ion-col>
          <ion-col size="6" class="ion-text-center">
            
          </ion-col>
        </ion-row> -->
      </div>
  <!-- </ion-grid> -->
  <!-- {{name}} -->
  <!-- {{aff_title}} -->
<!-- 
  <div class="flex pa1 justify-between nowrap orange">
    <div class="flex flex-fixed black">
      <div class="fw7 mr1">Hacker News</div>
      <a [routerLink]="['/']" class='ml1 no-underline black'>new</a>
      <div class="flex" *ngIf="logged">
        <div class="ml1">|</div>
        <a [routerLink]="['/create']" class='ml1 no-underline black'>submit</a>
      </div>
    </div>
    <div class="flex flex-fixed">
      <div *ngIf="logged" class="ml1 pointer black" (click)="logout()">logout</div>
      <a *ngIf="!logged" [routerLink]="['/login']" class='ml1 no-underline black'>login</a>
    </div>
  </div> -->





  
  <!-- <app-explore-container name="Tab 3 page"></app-explore-container> -->
</ion-content>
