<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-toolbar style="--ion-background-color:#57ca12;">
    <ion-title class="ion-text-center" style="font-weight:bold; color: white;">
      ثبت نام
    </ion-title>
  </ion-toolbar>
<!-- <ion-grid > -->
  <ion-row>
    <ion-col class="ion-text-center">
      <img src="../../assets/shaya.png" style="height: 15vh; width: 20vh;">
    </ion-col>
  </ion-row>
  <ion-row style="">
    <ion-col   size="12">
      <ion-row>
        <ion-col size="12">
    <ion-card>
      <ion-card-header>
        <ion-title style="color: black;" class="ion-text-center">
          کد ثبت نام
        </ion-title>
      </ion-card-header>
      <!-- <ion-grid> -->
        
        

    
    </ion-card>
  </ion-col>
    </ion-row>

    
  </ion-col>
  </ion-row>
  <!-- <ion-row style="margin-top: -3em;">
    <ion-col size="12" class="ion-text-center" >
      <ion-button (click)="confirm()" style="--background: #00a750;">
        ثبت نام
      </ion-button>
    </ion-col>
  </ion-row> -->
  
<!-- </ion-grid> -->
</ion-content>
