<!-- <ion-header>
  <ion-toolbar>
    <ion-title>shop</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
<ion-row *ngFor="let item of productNodes|async" >
  <ion-col >
<!-- {{item.node.image}} -->
<!-- <ion-button (click)="goto_product(item.node.id)"></ion-button> -->
<!-- {{item.node.title}} -->

<app-product-card [image] = "item.node.image" [title] = "item.node.title" [url]="item.node.url" [price]="item.node.price"></app-product-card>
</ion-col>
</ion-row>
<ion-row *ngFor="let item of productNodes|async" style="margin-top: -2.5em;">
  <ion-col class="ion-text-center">
  <ion-button style="--background:#13cd85;" (click)="copy(item.node.url)">
    <ion-label *ngIf="link_state">
      Copied
    </ion-label>
    <ion-label *ngIf = "!link_state">
      Copy This Link
    </ion-label>
  </ion-button>
  
</ion-col>
</ion-row>
</ion-content>